doctype html
head
    title 我的网站
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    link(type="text/css",rel="stylesheet",href="/static/css/index.css")
    script(src="/static/js/flexible.js",type="text/javascript")
    script(src="/static/js/account/login.js",type="text/javascript")
body
    header
        h2 登录
    div(class="wrapper")
        form
            p
                label 请输入用户名
                input(type="text")
            p
                label 请输入密码
                input(type="password")
            button(class="login-btn") 登录